[submodule "Vendor/premake/premake-cmake"]
	path = Vendor/premake/premake-cmake
	url = https://github.com/DnA-IntRicate/premake-cmake.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/DnA-IntRicate/imgui.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/DnA-IntRicate/glfw.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/DnA-IntRicate/spdlog.git
